*.pyc
*.log
*.pickle
*.xyz
*.extxyz
*.pt
*.model
*.txt
*.npz
*.in
*.out
*.db
*.ipynb
*.ase
run_whole_procedure.*
/legacy
/sockets
asi_test.py
test_ase.py
test_procedure.py
f90_connect/f_print_coords.f90
f90_connect/interface_module.f90
f90_connect/mycfunc.c
f90_connect/mymodule.py
