*.pyc
*.log
*.pickle
*.xyz
*.extxyz
*.pt
*.model
!example/local/so3_zbl_r6_des370K.model
*.out
*.db
*.ipynb
*.ase
*.txt
*.npz
*.npy
#*.in
#*.yaml
#*.sh
src/aims_PAX.egg-info
/build
/dev_examples
CLAUDE.md
.claude
docs
.df_scripts
.vscode
.plans

