*.pyc
*.log
*.pickle
*.xyz
!tests/test_data/datasets/initial/training/*
!tests/test_data/datasets/initial/validation/*
*.extxyz
*.pt
*.model
!tests/test_data/models/Si.model
*.out
*.db
*.ipynb
*.ase
*.txt
*.npz
*.npy
#*.in
#*.yaml
#*.sh
src/aims_PAX.egg-info
/build
/dev_examples
CLAUDE.md
.claude
docs
.df_scripts
.vscode

